{% extends "base_generic.html" %}

{% block content %}
<h1>Punk Records Home</h1>

<p>Welcome to <em>Punk Records</em>!</p>
<p>This tutorial is created with Python and Django, thanks to our friends over at MDN Web Docs.</p>

<h2>The library has the following record counts:</h2>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}